<div class="container-text-center">
  <!-- <div class="container">
  <div class="row">
    <p>employee is present</p>

    <input type="radio" name="rad" checked (click)="clicked(true)" /> male

    <input type="radio" name="rad" (click)="clicked(false)" /> female

    <input type="radio" name="rad" /> others
    <div>
      <p *ngIf="vorn">he is male</p>
    </div>

    <div><p *ngIf="!vorn">she is female</p></div>
  </div>
</div> -->

  <!-- <div class="container">
  <p>students list</p>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let student of students">
      {{ student }}
    </li>
  </ul>
</div> -->

  <!-- ////////////////switch///////////////

  <div [ngSwitch]="value">
    <p *ngSwitchCase="10">value is 10</p> 
    <p *ngSwitchCase="20">value is 20</p>
    <p *ngSwitchCase="30">value is 30</p>
    <p *ngSwitchCase="40">value is 40</p>
    <p *ngSwitchCase="50">value is 50</p>
    <p *ngSwitchDefault>its default</p>
  </div> -->
  <!-- </div> -->

  <!-- /////male- female--other///////// -->

  <!--   
  <input type="radio" name="rad" checked (click)="onclick('male')" /> male
  <input type="radio" name="rad" (click)="onclick('female')" /> female
  <input type="radio" name="rad" (click)="onclick('other')" /> other

  <p *ngIf="gen === 'male'">its male</p>
  <p *ngIf="gen === 'female'">its female</p>
  <p *ngIf="gen === 'other'">its other</p> -->

  <!-- ///////////////// [ngif]////////////////////////////////// -->

  <!-- <input type="radio" name="rad" checked (click)="onclick(true)" /> male
  <input type="radio" name="rad" (click)="onclick(false)" /> female

  <div [ngIf]="res" [ngIfThen]="thenblock" [ngIfElse]="elseblock">
    <ng-template #thenblock>
      <div>i am male</div>
    </ng-template>
    <ng-template #elseblock>
      <div>i am female</div>
    </ng-template>
  </div> -->
</div>
