<!-- <button class="btn btn-primary" (click)="onclick()">Hide/Show</button>
<ul *ngIf="studentsss" class="list-group">
  <li class="list-group-item" *ngFor="let abc of studentss; let i = index">
    {{ i }}.{{ abc }}
  </li>
</ul>

<br />
<br /> -->

<!-- <p *ngIf="myenum.two >= 10">{{ myenum.two }} is greater than 10 gotha</p> -->

<!-- <input type="text" #vote (keyup)="(0)" />

<P *ngIf="vote.value > '18'; else ngelse"> you can vote</P>

<ng-template #ngelse>
  <div>not eligible</div>
</ng-template> -->

<!-- <label>student element</label>

<table class="table table-bordered">
  <tr>
    <td>User ID:</td>
    <td>
      <input type="text" name="studentid" class="form-control" />
    </td>
  </tr>
  <tr>
    <td>password</td>
    <td>
      <input type="password" name="studentpass" class="form-control" />
    </td>
  </tr>
  <tr>
    <td>Branch</td>
    <td>
      <input type="text" name="branch" class="form-control" />
    </td>
  </tr>
  <tr>
    <td>
      <button class="btn btn-primary">login</button>
      <button class="btn btn-danger">cancel</button>
    </td>
  </tr>
</table> -->
