<!-- <h2 class="m-4">Parent component</h2>
<button class="btn btn-primary" (click)="display()">Submit</button>
<button class="btn btn-danger" (click)="reset()">Reset</button>

<div>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <tr *ngFor="let data of message">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
    </tr>
  </table>
</div>

<app-task-child1 [slnum]="1">
  <div>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let data of message">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
      </tr>
    </table>
  </div>
</app-task-child1>

<app-task-child1>
  <div>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let data of message">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
      </tr>
    </table>
  </div>
</app-task-child1> -->
